:host{
  width: 100%;
  .header{
    padding: 20px 0;
    margin-bottom: 25px;
    .header-logo{
      display: flex;
      color: #333333;
      font-size: 20px;
      float: none;
      align-items: center;
      text-transform: uppercase;
      img{
        width: 32px;
        height: 32px;
        margin: 0 5px;
        flex-shrink: 0;
      }
    }
    nav{
      width: 100%;
      display: flex;
      justify-content: space-between;
      ul{
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0px;
        li{
          font-size: 16px;
          text-transform: uppercase;
          border-bottom: 4px solid transparent;
          &:not(:last-of-type){
            margin-right: 20px;
          }
          &.active-link{
            border-bottom-color: #333333;
            a{
              color:rgb(0, 151, 106);
            }
          }
          a{
            color:#333333;
            &:hover,&:active,&:focus{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}


