:host{
  width: 100%;
  .shopping-list{
    // width: 100%;
    ul{
      padding: 0;
      width: 25%;
      min-width: 280px;
      li{
        width: 100%;
        display: block;
        border: 1px solid #999999;
        justify-content: space-between;
        align-items: flex-start;
        &:first-of-type{
          border-radius: 5px 5px 0px 0px;
        }
        &:last-of-type{
          border-radius: 0px 0px 5px 5px;
        }
        &:not(:first-of-type){
          border-top: none;
        }
        a{
          width: 100%;
          height: 100%;
          display: block;
          padding: 15px;
        }
      }
    }
  }
}
