<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="recipesForm" (ngSubmit)="onSubmit()" >
        <input type="text" [formControlName]="'name'">
        <input type="text" [formControlName]="'description'">
        <input type="text" [formControlName]="'imagePath'">
        <button type="submit">Add Server</button>
      </form>
      <hr>
      <div
        *ngIf="sendData">
        <ul
        *ngIf="!responseSuccess; else success">
        <li
          *ngFor="let item of responseResults">
          {{item.text}}
        </li>
      </ul>
      <ng-template #success>
        <div>good!</div>
      </ng-template>
      </div>
      <ul class="list-group" *ngFor="let recipe of recipes">
        <li class="list-group-item">
          <div class="item-text">
            <h3>{{ recipe.name }}</h3>
            <p>{{ recipe.description }}</p>
          </div>
          <div class="item-img">
            <img [src]="recipe.imagePath" [alt]="recipe.title">
          </div>
          <button class="btn btn-danger"
            (click)="onDelete(recipe.id)">X</button>
        </li>
      </ul>
    </div>
  </div>
</div>
